html {
    overflow: hidden;
    height: 100%;
    padding-top: 86px;
}

body {
    overflow: auto;
    height: 100%;
}

.page-content {
    border: solid #DFDDDD 0.08rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 80%;


}

/************ CABECALHO: ************/

.cabecalho {
    padding-top: 2rem;
}

.campotxt {
    margin-left: 6rem;

}

/*Meu height nao funciona, nao sei porque*/
.page-content linhas {
    color: #9D0101;
    opacity: 1;
    height: 5rem;
    margin-top: 0rem;
    padding-left: 0rem;
}

/************ CARDS: ************/


.cardproduto {
    margin-left: 3rem;
    margin-right: 3rem;

}


.cardestilo {
    height: 95%;
    margin-top: 1rem;
    width: 95%;

}

.imgcard {
    width: 10rem;
    height: 10rem;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: 20px;
    object-fit: fill;
}

.cardrodape {
    background-color: #FFFFFF;
    border-top: 0pt;
    margin-top: -1rem;
}

/************ FONTES e BOTOES: ************/

.titulo {
    font-size: 2.2rem;
    padding-bottom: 2rem;
    padding-left: 5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #BD8E01;

}

.categoria {
    background-color: #DFDDDD;
    border-radius: 12%;
    width: 60%;
    text-align: center;
}

.page-content h5 {
    font-size: 16px;
    color: white;
}

.page-content H6 {
    font-size: 12px;
}

.page-content p {
    font-size: 14px;
}

.txtbotao {
    font-size: 14px;


}


/* PAG: */
.page-active{
    z-index:-2;
}
.pag {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    display: flex;
    justify-content: center;
}

.footer-content{

}

.espacamento1{

}
.espacamento{
    height:1vh;
}
/************ TRATAMENTO DA IMG: ************/

@media (max-width: 1280px) {
    .imgcard {
        width: 7rem;
        height: 7rem;
    }

    .page-content h5 {
        font-size: 14px;
    }

    .campotxt {
        margin-left: 3rem;

    }

    .pteste {
        margin-bottom: 4rem;
    }

}

@media (max-width: 1000px) {
    .imgcard {
        width: 5rem;
        height: 5rem;
    }

    .categoria {
        width: 100%;

    }

    .txtbotao {
        font-size: 12px;

    }

    .campotxt {
        margin-left: 0rem;

    }

    .titulo {
        font-size: 2rem;
    }

    .cardproduto {
        margin-left: 2rem;
        margin-right: 2rem;
    }

}

@media(max-width: 880px) {
    .cardproduto {
        margin-left: 0rem;
        margin-right: 0rem;
    }
}

@media (max-width: 767px) {
    .imgcard {
        width: 8rem;
        height: 8rem;
    }

    .cardproduto {
        margin-top: 2rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .categoria {
        width: 62%;
    }

    .titulo {
        text-align: center;
        padding-left: 0rem;
        margin-bottom: -0.8rem;
    }

    .barra {
        display: flex;
        justify-content: center;
    }

    .campotxt {
        min-width: 70%;
    }

    .linhas {
        margin-top: 1.6rem;
    }


}

@media (max-width: 600px) {
    .imgcard {
        width: 7rem;
        height: 7rem;
    }
}

@media (max-width: 575px) {
    .imgcard {
        width: 8rem;
        height: 8rem;
    }

    .categoria {
        width: 50%;

    }

    .cardestilo {
        text-align: center;
    }

    .categoria {
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: auto;
        object-fit: fill;
    }

    .cardproduto {
        margin-left: 3rem;
        margin-right: 3rem;
    }


}

@media (max-width: 415px) {
    .campotxt {
        min-width: 60%;
        margin-left: 0.6rem;
    }

    .imgcard {
        width: 7rem;
        height: 7rem;
    }

    .categoria {
        width: 65%;
    }

    .cardproduto {
        margin-left: 0.8rem;
        margin-right: 0.8rem;
    }

}

@media(max-width: 380px) {

    .categoria {
        width: 75%;
        ;
    }

    .campotxt {
        min-width: 0%;
        margin-left: 1rem;
    }

    .cardestilo {
        width: 100%;

    }

    .imgcard {
        width: 6rem;
        height: 6rem;
    }
}

@media(max-width: 310px) {
    .campotxt {
        min-width: 0%;
        margin-left: 0rem;
    }

    .cardproduto {
        margin-left: 0.2rem;
        margin-right: 0.2rem;
    }

    .pag {
        font-size: 70%;
    }

}