html,
body {
    font-family: 'Lato', sans-serif;
}

html {
    overflow: hidden;
    height: 100%;
    padding-top: 86px;
}

body {
    overflow: auto;
    height: 100%;
}

.product-media {
    text-align: center;
}

.product-media img {
    width: 75%;
    max-height: 65vh;
}

.product-info-title {
    padding-bottom: 1rem;
}

.product-size {
    padding: 1rem 0;
}

.product-size button {
    margin-bottom: 0.25rem;
}

.product-info-price span {
    font-size: 1.5rem;
    font-weight: 400;
}

.caminho {
    list-style: none;
    padding-left: 0;
    color: grey;
    user-select: none;
}

.caminho a {
    color: black;
    text-decoration: none;
}

.caminho li {
    display: inline-block;
}


.container-flex {
    padding: 1rem 1rem;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

.btn:hover {
    opacity: 0.8;
}

#chart {
    box-shadow: none !important
}

.botao {
    text-align: right;
    float: right;
}

.botao span {
    font-size: 1.5rem;
    padding: 0.25rem 0.5rem;
}

.description {
    display: none;
}

.textjs {
    display: contents;
}

#mais:hover {
    cursor: pointer;
    user-select: none;
    color: darkslategray;
}

.size-buttons .btn {
    margin-right: 0.19rem;
}

#chart:hover {
    cursor: default;
    opacity: 100%;
}

@media(min-width: 768px){
    .footer-content{
        position:absolute;
        width:100%;
        bottom: 0px;
    }
}