.nav-edit{
    background-color: #001862;
}

.link-edit{
    color: #BD8E01;
    
}

.link-edit:hover{
    color: #DFDDDD;
}

footer{
    background-color: #001862;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

footer p{
    color: #DFDDDD;
}

.redes-sociais li{
    margin: 0 10px;
}

.redes-sociais a{
    text-decoration: none;
}

.redes-sociais a i{
    color: #BD8E01;
    font-size: 1.1rem;
}

.redes-sociais a:hover i{
    color: #DFDDDD;
}

