html, body{
    margin: 0;
    padding: 0;
}


.left{
    width: 70%;
    display: block;
    background-color: aqua;
}

.left-content{
    vertical-align: top;
    margin-left: 30px;
    margin-right: 10px;
}

.left-content h1{
    margin-top: 0;
    font-size: 60px;
}

.left-content p{
    font-size: 16px;
}

.right{
    width: 29%;
    vertical-align: top;
    background-color: orange;
}

.right-content{
    margin-top: 20px;
    margin-left: 10px;
}

.mapa{
    width: 100%;
    text-align: left;
}

iframe{
    width: 300px;
    height: 300px;
}

form{
    display: inline-block;
    background-color: yellow;
}


.form-group label{
    display: inline-block;
}

.form-row{
    display: flex;
}

.form-group{
    padding-right: 10px;
    padding-bottom: 10px;
}

.test{
    display: inline-block; 
    height: 650px;
}