html, body{
    margin: 0;
    padding: 0;
}

.content{
    width: 100%;
}

.left{
    width: 70%;
}

.left-content{
    vertical-align: top;
    margin-left: 30px;
    margin-right: 10px;
    margin-top: 10px;
}

.left-content h1{
    margin-top: 0;
    font-size: 60px;
}

.left-content p{
    font-size: 16px;
}

.right{
    width: 29%;
    vertical-align: top;
}

.right-content{
    margin-top: 20px;
    margin-left: 10px;
}

.mapa{
    width: 100%;
    text-align: left;
}

iframe{
    margin-top: 10px;
    width: 350px;
    height: 350px;
}

form{
    display: inline-block;
}


.form-group label{
    display: inline-block;
}

.form-row{
    display: flex;
}

.form-group{
    padding-right: 10px;
    padding-bottom: 10px;
}

.test{
    display: inline-block; 
    height: 600px;
}

.texto-contate p{
    margin-block-start: 0;
    margin-block-end: 0;
}

.texto-contate{
    margin-bottom: 10px;
}