body{
	margin-right: 2rem;
	margin-left: 2rem;
	margin-top: 10rem;
}

.card_adm{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 2rem;
	flex-direction: row;
}

.botao-sair{
	display:inline-block;
	justify-content: center;
}