.product-media {
    text-align: center;
}

.product-media img {
    width: 75%;
}

.product-info-title {
    padding-bottom: 1rem;
}

.product-size {
    padding: 1rem 0;
}

.product-info-price span{
    font-size: 1.5rem;
    font-family: Arial Black;
}

.container-flex {
    padding: 1rem 1rem;
}

.btn:hover{
    opacity: 0.8;
}

.botao{
    text-align: right;
    float: right;
}

.botao span{
    font-size: 1.5rem;
    padding: 0.25rem 0.5rem;
}

.description{
    display: none;
}

.textjs{
    display: contents;
}

#mais:hover{
    cursor: pointer;
    user-select: none;
}



