/**********CARROSSEL**********/
#area-carousel{   
    background-color: #8d8e01;
}

#carousel{
    padding-top:3vh;
    padding-bottom:3vh;
}

.carousel-img{
    height: 35vh;
    border:2px solid #DFDDDD;
}


@media(max-width:768px){
    .carousel-img{
        height:20vh;
    }
}

/**********ULTIMOS PRODUTOS**********/
#area-products{
    text-align:center;
    background-color: #323132;
    color:#DFDDDD;
}

.products-title{
    border-bottom:2px solid #DFDDDD;
}

.products-title h2{
    display: inline-block;
    margin-top: 2vh;
}

.products{
    margin-top:5vh;
}

.products .col{
    margin-bottom:2vh;
}

.products .card{
    color: #323132;
}

.product-image{
    width:100%;
    max-height:176px;
    min-height:176px;
}

.products label{
    cursor:pointer;
}

/**********CALL TO ACTIONS**********/

#area-call-to-actions{
    background-color: #001862;
}

.content{
    padding-top:40px;
    padding-bottom:40px;
    text-align:center;
}

.left{
    text-align: center;
}

.call-text{
    color: white;
    display:inline-block;
}

.call-text span{
    color:#ffc107;
}

@media(max-width:991px){
    .contact-button{
        margin-top:2vh;
    }
}


