
.container{
    font-family: 'Roboto', sans-serif;
}
.tela{
    padding: 2rem 2rem 2rem 2rem;
    border: 0.1rem solid #DFDDDD;
    border-radius: 0.7rem;
    
}

hr{
    height: 100px;
}
.linhas{
	color: #9D0101;

	opacity: 1;
}
.botao{
    border-radius: 2rem;
    
    
}
.comnt{
    text-align: center;
}
h1{
    color: #BD8E01;
}
@media(max-width: 430px){
    .tela{
        padding: 0.6rem 0.6rem 0.6rem 0.6rem;
        margin: -0.2rem -0.2rem -0.2rem -0.2rem;
        background-color: white;
    }
}
@media(min-width: 1200px){
    .tela{
        width:450px;
        
    }
    .txt{
        font-size: 1.3rem;
        
    }
    .txtdescricao{
        font-size: 1rem;
    }
    h1{
        font-size: 2.5rem;
    }
}