
.container{
    font-family: 'Roboto', sans-serif;
}
.tela{
    padding: 2rem 2rem 2rem 2rem;
    border: 0.1rem solid #DFDDDD;
    border-radius: 0.7rem;
    border-spacing: 2rem;
}

/********************** IMAGENS **********************/
.divIconeClose{
    display: flex;
    justify-content:right;

}
.imgclose{
    height: 1.3rem;
    width: 1.3rem;
    
}
.divFoto{
    display: flex;
    justify-content: center;

}
.img{
    height: 6rem;
    width: 6rem;
    margin-bottom: 2rem;
    border-radius: 50%;
}

/********************** DIVERSOS **********************/
.linhas{
	color: #9D0101;
	opacity: 1;
}
.botao{
    border-radius: 2rem;
}
.comnt{
    text-align: center;
}
h1{
    color: #BD8E01;
}

/********************** @MEDIA **********************/
@media(max-width: 430px){
    .tela{
        padding: 0.6rem 0.6rem 0.6rem 0.6rem;
        margin: -0.2rem -0.2rem -0.2rem -0.2rem;
        background-color: white;
    }
    .img{
        height: 5rem;
        width: 5rem;
    }
    .imgclose{
        height: 1.1rem;
        width: 1.1rem;
    }
}
@media(min-width: 1200px){
    .tela{
        width:450px;
        
    }
    .txt{
        font-size: 1.3rem;
        
    }
    .txtdescricao{
        font-size: 1rem;
    }
    h1{
        font-size: 2.5rem;
    }
}