<!DOCTYPE html>

<head>

    <meta charset="UTF-8">
    <title>Contato</title>
    <link rel="stylesheet" href="../../public/css/seu_css.css">

</head>

<body>

    <div class="content">

        <div class="left">

            <div class="left-content">

            <h1>Contate-nos!</h1>

            <p>Tem alguma dúvida sobre a nossa loja? Envie-nos uma mensagem pelo formulário! Nossa equipe te responderá assim que possível.</p>
            
            <div class="formulary">

                <p>Formulário</p>
    
            </div>

            </div>

        </div>

        <div class="right">
            
            <div class="right-content">

                <h2>Nosso Escritório</h2>
                <h3>Endereço</h3>
                <h3>Cidade, Estado, Código Postal</h3>

                <div class="mapa">

                    <iframe id="gmap_canvas" src="https://maps.google.com/maps?q=ufjf&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>

                </div>

            </div>

        </div>

    </div>

</body>

</html>